---
import Layout from '../layouts/Layout.astro';
import EnderLinks from "../components/EnderLinks.astro";
import AngeloLinks from "../components/AngeloLinks.astro";
import VicenteLinks from "../components/VicenteLinks.astro";

import "/public/css/index.css";
---

<Layout title="susg.us" description="pretty much does everything i want">
    <div class="cam-dot"/>

	<main class="container-1">
		<h1>susg.us</h1>
		<p>pretty much does everything i want</p>
  
		<noscript>
		  <p class="jsmsg" id="jsmsg"><i>For the best experience, enable JavaScript, but I'm not forcing you ¯\_(ツ)_/¯</i></p>
		</noscript>
  
		<p class="pcmsg" id="pcmsg"><i>For the best experience, use your browser on desktop, but I'm not forcing you ¯\_(ツ)_/¯</i></p>
		<img id="arrow-img" src="/assets/arrow.gif"></img>
	</main>
	
	<tips>
		<div class="container-2-tooltip-1" id="vicente-tip">
			<VicenteLinks>
				<p>Social Media!</p>
			</VicenteLinks>
		  </div>
	  
		  <div class="container-2-tooltip-2" id="ender-tip">
			<EnderLinks/>
		  </div>

		  <div class="container-2">
			<div class="container-2-info">
			  <h1><span class="container-2-info-title">What is susg.us?</span></h1>
			  <p>susg.us is a domain owned and coded by <span class="a-pseudo" id="vicente-tip-button">Vicente0670</span> and hosted by <span class="a-pseudo" id="ender-tip-button">Ender2K89</span>.</p>
			</div>
		  </div>
	</tips>

    <noscript> <!-- Blue box menu when user has no JS enabled (aka when the solution above will not work) -->
		<div class="nojs">
			<VicenteLinks>
				<h4>Find us here!</h4><br>
				<h6>Vicente0670</h6>
			</VicenteLinks>

			<EnderLinks>
				<h6>Ender2K89</h6>
			</EnderLinks>
		</div>
    </noscript>

    <div class="nopc" id="nopc">
		<VicenteLinks>
			<h4>Find us here!</h4><br>
			<h6>Vicente0670</h6>
		</VicenteLinks>

		<EnderLinks>
			<h6>Ender2K89</h6>
		</EnderLinks>
    </div>

    <div class="container-3">
      <div class="container-3-info">
        <h1>What is this domain utilised for?</h1>
        <p>I'm using this domain as an image/video host as well as a link shortener.</p>
      </div>
    </div>

    <div class="container-4-tooltip" id="angelo-tip">
		<AngeloLinks>
			<p>Social Media!</p>
		</AngeloLinks>
    </div>

    <div class="container-4">
      <div class="container-4-info">
        <h1>OK... What's with the domain name?</h1>
        <p>The reason I picked susg.us is because it is an inside joke between me and <span class="a-pseudo" id="angelo-tip-button">Angelo5181</span>.<br>
        We were making jokes about this before we discovered someone that made it a reality, shoutout to the <a href="https://amogus.fandom.com/wiki/Susgus_(Among_Us)" target="_blank" title="Where Susgus came from.">Amogus Fandom Wiki</a>.</p>
      </div>
    </div>

    <noscript>
		<div class="nojs2">
			<AngeloLinks>
				<h4>Check Angelo5181 out!</h4>
				<h6>Angelo5181:</h6>
			</AngeloLinks>
		</div>
    </noscript>
	
    <div class="nopc2" id="nopc2">
		<AngeloLinks>
			<h4>Check Angelo5181 out!</h4>
			<h6>Angelo5181:</h6>
		</AngeloLinks>
    </div>
</Layout>

<script>
	const arrow = document.getElementById("arrow-img");
	const tooltips = ["ender", "vicente", "angelo"];

	tooltips.forEach((name) => {
		const tipButton = document.getElementById(`${name}-tip-button`);
		const tip = document.getElementById(`${name}-tip`);

		tipButton.onmouseenter = function() {
			tip.style.display = "block";
		}

		tip.onmouseenter = function() {
			tip.style.display = "block";
		}

		tipButton.onmouseleave = function() {
			tip.style.display = "none";
		}

		tip.onmouseleave = function() {
			tip.style.display = "none";
		}
	});

	document.body.onscroll = function() {
        if (document.documentElement.scrollTop >= 1 || document.body.scrollTop >= 1) {
          	arrow.style.opacity = "0";
        }
	}

	if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
		document.getElementById("tip-1").style.margin = "16.23vh 0 0 1000vw";
		document.getElementById("tip-2").style.margin = "16.23vh 0 0 1000vw";
		document.getElementById("tip-3").style.margin = "16.23vh 0 0 1000vw";
		document.getElementById("nopc").style.display = "block";
		document.getElementById("nopc2").style.display = "block";
		document.getElementById("pcmsg").style.display = "block";
	}

	// whatever works, works
	// also i remember using this (if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)))
	// for something else and i can't find the original source anymore so i'm sorry but i want to credit whoever made this on stackoverflow but :(
</script>