---
import Layout from "../layouts/Layout.astro";
import Redirection from "../components/Redirection.astro";
---

<Layout title="linktree | susg.us" description="Vicente0670's Linktree.">
    ...
</Layout>

<body onload="redirect()"/>

<Redirection></Redirection>
<a href="https://linktr.ee/vicente0670" title="I think this is where you're going.">https://linktr.ee/vicente0670</a>

<style>
    html, body {
        background: #000;
        align-text: center;
    }  
</style>
<script>
    function redirect() {
        location.host == "https://linktr.ee/vicente0670";
    }
</script>
