---
import Layout from "../layouts/Layout.astro";
---

<Layout title="susg.us" description="list of all shortcuts publicly avaliable for use">
    <div class="cam-dot"></div>
    <div class="container-1">
      <h1>shortcuts</h1>
      <p>here is the list of all shortcuts publically avaliable for use, some i have 100% used before, others you probably have never heard of</p>
    </div>
    <div class="container-2">
      <p><a href="https://susg.us/linktree">https://susg.us/linktree</a> Vicente0670's linktr.ee.</p>
      <p><a href="https://susg.us/vicente0670">https://susg.us/vicente0670</a> Vicente0670's YouTube channel.</p>
      <p><a href="https://susg.us/angelo5181">https://susg.us/angelo5181</a> Angelo5181's YouTube channel.</p>
    </div>
</Layout>

<style>
    .container-1 {
        height: 25vh;
        width: 70vw;
        padding: 10%;
    }

    .container-2 {
        height: 50vh;
        width: 70vw;
        padding: 10%;
    }

    .container-2 p {
        font-size: 1rem;
        font-style: italic;
        font-weight: normal;
    }
</style>
