:root {
  --accent-color: #000;
}

* {
  margin: 0;
  padding: 0;
}

*::selection {
  background: #f3da4bcb;
  color: #1e1900;
}

html, body {
  max-width: 100vw;
  overflow-x: clip;
  color: #aaa;
  background: black;
  touch-action: manipulation;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}