<p>Get In Touch!</p>
<a href="https://discord.com/users/1022842005920940063" target="_blank" title="ender's profile! very cool" class="b1-discord">Discord</a><br>
<a href="https://korino.dev/" target="_blank" title="ender's website!" class="b2-website">Website</a>