<slot/>
<a href="https://youtube.com/@vicente0670" target="_blank" title="Sends you to Vicente0670's YouTube channel." class="a1-youtube">YouTube</a><span> </span>
<a href="https://twitter.com/vicente0670" target="_blank" title="Opens Vicente0670's Twitter account page, too political." class="a2-twitter">Twitter</a><span> </span>
<a href="https://www.reddit.com/user/Vicente0670" target="_blank" title="But it's orange. I swear!" class="a3-reddit">Reddit</a><span> </span>
<a href="https://www.instagram.com/vicente0670/" target="_blank" title="Opens everyone's favourite Meta app!" class="a4-instagram">Instagram</a><span> </span>
<a href="https://discord.com/users/916964266274324502" target="_blank" title="Ironically, there's a bunch of discord in Discord." class="a5-discord">Discord</a><span> </span>
<a href="https://www.roblox.com/users/476652514/profile" target="_blank" title="Life is Roblox." class="a6-roblox">Roblox</a><span> </span>
<a href="https://www.twitch.tv/vicente0670" target="_blank" title="People often do that." class="a9-twitch">Twitch</a><span> </span>
<a href="mailto:business0670@gmail.com" target="_blank" title="My business email. Apparently." class="a7-gmail">Email</a><span> </span>
<a href="https://github.com/Vicente0670/susg.us/" target="_blank" title="A hub for gits." class="a10-github">Github</a>
<p title="Website is coming soon!" class="a8-website">Website</p>